.div-checkbox-codigo {
    margin-top: 33px;
}

.div-checkbox-senha {
    margin-top: 0 !important;
}

#btn-inclui-permissao {
    margin-top: 13px;
}

#usuario-setores thead th,
#usuario-permissoes thead th {
    padding-top: 0;
    padding-bottom: 0;
}