body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 12px;
}

main {
    flex: 1 0 auto;
}

input {
    font-size: 12px !important;
    height: 2rem !important;
}

input[type="radio"] + span {
    font-size: 12px !important;
}

button {
    font-size: 12px !important;
}

table td {
    padding: 3px;
}

.nav-wrapper {
    line-height: 60px;
    height: 60px;
}

.navbar-brand img {
    vertical-align: middle;
    height: 50px;
    margin-top: -5px;
    position: relative;
}

.nav-wrapper ul li a {
    color: black !important;
    font-size: 14px;
}

.nav-wrapper ul li a i {
    height: 37px;
}

.popover {
    max-width: 100%;
}

.div-tag {
    text-align: right;
    font-size: 1.2rem;
}

.div-tag p {
    margin-bottom: 0;
}

#loadingOverlay {
    display: table;
    opacity: 0.7;
    background-color: #FFF;
    z-index: 9999;
}

#loadingOverlay .overlayContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.cke {
    margin-top: 18px !important;
}

.modal {
    max-height: 80% !important;
    min-width: 80% !important;
}

.dataTables_filter input {
    width: 200px !important;
}

footer .footer-copyright {
    bottom: -5px;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0 !important;
    min-height: 20px !important;
    color: black !important;
    height: 20px;
    line-height: 20px;
}

#poweredby-logo {
    height: 20px;
}

fieldset {
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.2);
}

fieldset {
    margin-bottom: 15px;
}

.calendar-field .calendar-clear {
    cursor: pointer;
    font-size: 0.7rem;
    position: absolute;
    top: 11px;
    left: 80px;
    width: 25px;
    visibility: hidden;
    opacity: 0;
}

.calendar-field .campo-data.has-value + label + .calendar-clear {
    visibility: visible;
    opacity: 0.8;
}

.calendar-field .fa-calendar {
    cursor: pointer;
    font-size: 1.09rem;
    position: absolute;
    top: 7px;
    right: 3px;
    width: 25px;
}

.btn-primary,
.btn-default,
.btn-success,
a.btn-flat.current {
    background-color: #03314b;
    color: white;
}

.btn-primary:hover, .btn-primary:focus,
.btn-default:hover, .btn-default:focus,
.btn-success:hover, .btn-success:focus,
a.btn-flat:hover {
    background-color: #03314b;
    color: white;
    opacity: 0.9;
}

.btn-secondary, .sweet-alert .btn.cancel {
    border: 1px solid #03314b;
    color: #03314b;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.1) !important;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: #03314b;
    background-color: #f5f5f5;

}

.btn-concluido {
    border: 1px solid green;
    color: white;
    border-radius: 3px;
    background-color: green;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.1) !important;
}

.btn-concluido:hover, .btn-concluido:focus {
    background-color: green;
    opacity: 0.9;
}

.btn-com-inconformidade {
    border: 1px solid orange;
    color: white;
    border-radius: 3px;
    background-color: orange;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 3px 1px -2px rgba(0, 0, 0, 0.1) !important;
}

.btn-com-inconformidade:hover, .btn-com-inconformidade:focus {
    background-color: orange;
    opacity: 0.9;
}

.selectize-control.multi .selectize-input > div {
    margin: 0;
}

.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 20px !important;
}
