{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/sistema/dashboard/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col s12">
            <h5>Dashboard</h5>
            <p>Qual módulo deseja acessar?</p>
        </div>

        <div class="col s12 modulo-wrapper">
            {% for modulo in modulos %}
                <a href="{{ base_url(modulo.urisegment) }}" class="card-panel modulo">
                    {{ modulo.descricao }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}