{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/administrativo/lancamentosFinanceiros/lancamentosFinanceiros.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    {{ form_open() }}

    <div class="row">
        <h5>Cadastro de Lançamento Financeiro</h5>
        <hr/>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <div class="row">
                <div class="col s12 m9">
                    <label for="descricao">
                        Descrição
                        <small class="red-text">*</small>
                    </label>
                    <input type="text" class="form-control" autofocus name="descricao" value="{{ set_value('descricao') }}"
                           placeholder="Descrição do Lançamento" required/>
                </div>

                <div class="col s12 m3">
                    <label for="status">
                        Status
                        <small class="red-text">*</small>
                    </label>

                    <select name="status" class="form-control" required>
                        <option value="1">Em aberto</option>
                        <option value="2">Concluído</option>
                        <option value="3">Cancelado</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <label for="dataVencimento">
                        Data Vencimento
                        <small class="red-text">*</small>
                    </label>

                    <input type="text" class="form-control campo-somente-data" name="datavencimento" placeholder="Data do Vencimento" required
                           value="{{ set_value('dataVencimento') }}"/>
                </div>

                <div class="col s12 m4">
                    <label for="tipo">
                        Tipo
                        <small class="red-text">*</small>
                    </label>
                    <select name="tipo" class="form-control" required>
                        <option value="1">Despesa</option>
                        <option value="2">Receita</option>
                    </select>
                </div>

                <div class="col s12 m4">
                    <label for="valor">
                        Valor
                        <small class="red-text">*</small>
                    </label>

                    <input type="text" class="form-control campo-valor" name="valor" placeholder="Valor do Laçamento" required
                           value="{{ set_value('valor') }}"/>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <label for="observacao">
                        Observação
                    </label>

                    <input type="text" class="form-control" name="observacao" placeholder="Observação do Laçamento"
                           value="{{ set_value('observacao') }}"/>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="col s12 right-align">
                <a href="{{ base_url('administrativo/lancamentosFinanceiros') }}" class="btn-flat">Voltar</a>
                <button type="submit" class="btn btn-primary">Gravar</button>
            </div>

            <div class="col s12 right-align">
                <small class="red-text">*Campos obrigatórios &nbsp;</small>
            </div>
        </div>
    </div>

    {{ form_close() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('js/administrativo/lancamentosFinanceiros/lancamentosFinanceiros.js') }}"></script>
{% endblock %}