{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/administrativo/lancamentosFinanceiros/lancamentosFinanceiros.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    <div class="row">
        <h5>Lançamentos Financeiros do sistema</h5>
        <hr/>
    </div>

    <div class="row">
        <div class="col s12 text-right">
            <a href="{{ base_url('administrativo/lancamentosFinanceiros/add') }}" class="btn btn-primary">Novo Lançamentos Financeiros</a>
        </div>

        <div class="col s12">
            <table class="table" id="table-lancamentosFinanceiros">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Data Registro</th>
                    <th>Data Vencimento</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Data Pagamento</th>
                </tr>
                </thead>
                <tbody>
                {% for lancamento in lancamentosFinanceiros %}
                    <tr>
                        <td>
                            <a href="{{ base_url("administrativo/lancamentosFinanceiros/edit/#{lancamento.id}") }}">
                                {{ lancamento.descricao }}
                            </a>
                        </td>
                        <td>
                            {{ lancamento.dataRegsitro }}
                        </td>
                        <td>
                            {{ lancamento.dataVencimento }}
                        </td>
                        <td>
                            {{ lancamento.status }}
                        </td>
                        <td>
                            {{ lancamento.valor }}
                        </td>
                        <td>
                            {{ lancamento.dataPagamento }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('js/administrativo/lancamentosFinanceiros/lancamentosFinanceiros.js') }}"></script>
{% endblock %}