.modulo-wrapper {
    margin-top: 10px;
}

.modulo {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #03314b;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 200px !important;
    width: 200px !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 135px;
}