{% extends '_layout.twig' %}

{% block conteudo %}
    {{ form_open() }}

    {% if usuarioAutenticado.tokenacesso %}
        <div class="alert alert-warning" role="alert">
            <p>Por favor, altere sua senha.</p>
        </div>
    {% endif %}

    <div class="row">
        <h5>Perfil</h5>
        <hr/>
    </div>


    <div class="row">
        <div class="col s12 m8">
            <div class="row">
                <div class="col s12 m6">
                    <label for="nome">
                        Nome
                        <small class="red-text">*</small>
                    </label>
                    <input type="text" class="form-control" autofocus name="nome"
                           value="{{ set_value('nome', usuarioAutenticado.nome) }}" required/>
                </div>

                <div class="col s12 m6">
                    <label for="email">
                        E-mail
                        <small class="red-text">*</small>
                    </label>
                    <input type="text" class="form-control" name="email"
                           value="{{ set_value('email', usuarioAutenticado.email) }}"/>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4">
                    <label for="senha">
                        Senha atual/Token
                    </label>
                    <input type="password" class="form-control" name="senhaatual"
                           value="{{ set_value('senhaatual') }}"/>
                </div>

                <div class="col s12 m4">
                    <label for="senha">
                        Nova Senha
                    </label>
                    <input type="password" class="form-control" name="novasenha"
                           value="{{ set_value('novasenha') }}"/>
                </div>

                <div class="col s12 m4">
                    <label for="confirmasenha">
                        Confirma Senha
                    </label>
                    <input type="password" class="form-control" name="confirmasenha"
                           value="{{ set_value('confirmasenha') }}"/>
                </div>

            </div>
        </div>

        <div class="col s12 m4 right-align">
            <small class="red-text">*Campos obrigatórios &nbsp;</small>

            <button type="submit" class="btn btn-primary">Gravar</button>
        </div>
    </div>
    {{ form_close() }}
{% endblock %}