{% extends 'email/_layout_email_padrao.twig' %}

{% block title %}
    GCS - email de conclusão de registro
{% endblock %}

{% block html %}
    <p>Atenção</p>

    <p align="justify">
        {% if pai %}
            A Etapa: <b>{{ registro.titulo }}</b>  do Registro: <b>{{ pai.titulo }}</b> foi concluída
        {% else %}
            O Registro: <b>{{ registro.titulo }}</b> foi concluído e todas as suas Etapas abertas, foram concluídas
        {% endif %}

        e está

        {% if registro.registroinconformidade %}
            <b>Inconforme</b> o esperado, com a justificativa de: <b>{{ registro.registroinconformidade }}</b>
        {% else %}
            <b>Conforme</b> o esperado.
        {% endif %}

    </p>

{% endblock %}
