{% extends 'email/_layout_email_padrao.twig' %}

{% block title %}
    GCS - email de lembrete de vencimento
{% endblock %}

{% block html %}
    <p>Atenção</p>

    <p align="justify">
        Lembrando que

        {% if etapa.titulo %}
            a etapa: <b>{{ etapa.titulo }}</b> do registro: <b>{{ registro.titulo }}</b> está <b>Vencida</b> desde <b>{{ etapa.datavalidade }}</b>
        {% else %}
            o registro: <b>{{ registro.titulo }}</b> está <b>Vencido</b> desde <b>{{ registro.datavalidade }}</b>
        {% endif %}

    </p>

    <p>Para acessar o sistema <a href="{{ base_url('ged/registros/edit/') }}{{ registro.id }}" target="_blank">Clique aqui</a></p>

{% endblock %}
