{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/administrativo/usuarios/usuarios.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    <div class="row">
        <h5>Usuários do sistema</h5>
        <hr/>
    </div>

    <div class="row">
        <div class="col s12 text-right">
            <a href="{{ base_url('administrativo/usuarios/add') }}" class="btn btn-primary">Novo Usuário</a>
        </div>

        <div class="col s12">
            <table class="table" id="table-usuarios">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th class="right-align" data-order="false" width="5%">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>
                            <a href="{{ base_url("administrativo/usuarios/edit/#{usuario.id}") }}">
                                {{ usuario.nome }}
                            </a>
                        </td>
                        <td>
                            {{ usuario.email }}
                        </td>
                        <td class="right-align">
                            {% if usuario.ativo %}
                                <a href="{{ base_url("administrativo/usuarios/inativar/#{usuario.id}") }}"
                                   title="Ativar">
                                    <i class="fa fa-toggle-on"></i>
                                </a>
                            {% else %}
                                <a href="{{ base_url("administrativo/usuarios/ativar/#{usuario.id}") }}"
                                   title="Inativar">
                                    <i class="fa fa-toggle-off"></i>
                                </a>
                            {% endif %}

                            {% if usuario.tokenacesso %}
                                <a href="#" class="fa fa-key" data-toggle="tooltip"
                                   title="Token: {{ usuario.tokenacesso }}"></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ base_url('js/administrativo/usuarios/usuarios.js') }}"></script>
{% endblock %}