{% extends '_layout.twig' %}

{% block customCss %}
    <link href="{{ base_url('css/sistema/login/login.css') }}" rel="stylesheet">
{% endblock %}

{% block conteudo %}
    {{ form_open() }}

        <div class="row">
            <div class="col s8 col m6 col l4 div-login  center-align">

                <h5>Esqueci minha senha</h5>
                <p class="center login-form-text"> {{ name }}</p>
                <p class="center">Não se preocupe, você pode resetá-la!</p>

                <div class="form-group">
                    <input id="senha" name="senha" type="password" placeholder="Senha">
                </div>

                <div class="form-group">
                    <input id="confirmasenha" name="confirmasenha" type="password" placeholder="Confirmar Senha">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success right">Resetar Senha</button>
                    <span class="esqueci-minha-senha">
                        <a class="left" href="{{ base_url('sistema/login') }}" style="vertical-align: bottom" >Voltar ao login</a>
                    </span>
                </div>
            </div>
        </div>


    {{ form_close() }}

{% endblock %}
