{% extends 'email/_layout_email_padrao.twig' %}

{% block title %}
    GCS - Nova Usuário
{% endblock %}

{% block html %}
    <p>Olá {{ usuario.nome }} </p>

    <p align="justify">Foi criado um novo acesso para você no sistema GED, para acessar o sistema, utilize o link abaixo.</p>

    <a href="{{ usuario.url }}" target="_blank"
       style="background:#03314b; color:#ffffff; font-family:Roboto, Arial; font-size:14px; font-weight:bold;
       line-height:21px; Margin:0; text-decoration:none; text-transform:none">Acessar o sistema</a>

{% endblock %}
